.header{
    background: black;
}

.image-link{
    margin-bottom: 5px;
    width: 45px;
    height: 45px;  
    border-radius: 50%;
}

a{
    text-decoration: none;
    font-family: 'Bitter', serif;
}
.btn-default {
    font-family: Raleway-SemiBold;
    font-size: 14px;
    color:black; 
    letter-spacing: 1px;
    line-height: 15px;
    border-radius: 40px;
    background:white;
    transition: all 0.3s ease 0s;

    
  }

  .btn-default:hover{
      background: #0275d8;
      color: #f7f7f7;
  }

  .btn-cricle {
    font-family: Raleway-SemiBold;
    font-size: 14px;
    color:black; 
    letter-spacing: 1px;
    line-height: 15px;
    border-radius: 50;
    background:white;
    transition: all 0.3s ease 0s;
    
  }

  .btn-circle:hover{
      background: #0275d8;
      color: #10f582;
  }
  .status{
    border-radius: 50%;
    width: 15px;
  }

  .box-bottom-border{
      border-bottom: 1px solid rgba(108, 88, 179, 0.75); ;
  }

  .vertical-menu {
    width: 100%;
    height: 480px;
    
  }

  .vertical-menu:hover{
    overflow-y: auto;
  }
  

  .btn-plus{
    color: #02FF15 ;
    font-size: 20px;
  }


  
.fbnav{
    background-color: #3b5998;
    color: white;
    
}

.text-white{
    color: white;
}

.bg-color{
    background:black;
}

  
.post-profile-image{
    border-radius: 50%;
    width: 35px;
    height: 35px;  
} 

.border-left{
    
    border-left: 4px solid red;
}

a {
    text-decoration: none;
}
.fixed {
    position: fixed;
    width: -25%;
    
}

.profile-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}

.user-profile-font{
    font-family: 'Patua One', cursive;
}